* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}
html::before,html::after{
  content: '';
  background: red
}
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

html{
  /*height: 100%;*/
  display: flex;
  flex-flow: column;
  /*border: thin solid greenyellow;*/
}
body {
  flex:1;
  /*border:1px solid red;*/
  height: 100%;
  min-height: 100%;
  font-size: .04rem;
  background: snow;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


/* layout */

#app {
  /*width: 100%;*/
  /*background: white;*/
  /*box-shadow: 0 -5px 10px -4px rgba(0, 0, 0, .6);*/
  /*box-shadow: -6px 0 5px -4px rgba(0, 0, 0, .6),6px 0 5px -4px rgba(0, 0, 0, .6);*/
  min-height: 100%;
  height: 1.7rem;
  /*max-height: 600px;*/
  width: 100%;
  max-width: 640px;
  /*margin: 1em 0;*/
  border-radius: 2px;
  /*border:thin solid yellow;*/
  display: flex;
  flex-flow: column;
  position: relative;
  /*border: thin solid yellow;*/
}


/* 背景 */

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("http://music.163.com/api/img/blur/18365142719501407");
  background-size: cover;
  opacity: 1;
  z-index: -1;
}

.bg::after {
  content: '';
  background: rgba(0, 10, 0, .4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumb {
  /*flex: 1 0 100%;*/
  display: flex;
  justify-content: center;
  padding-top: .16rem;
}

.thumb::after {
  position: absolute;
  content: '';
  width: .256rem;
  height: .36rem;
  top: 0;
  left: 50%;
  background: url(//s3.music.126.net/m/s/img/needle-ip6.png?be4ebbeb6befadfcae75ce174e7db862)no-repeat;
  background-size: contain;
}

.disc {
  background: url(https://s3.music.126.net/m/s/img/disc-ip6.png?69796123ad7cfe95781ea38aac8f2d48) no-repeat;
  background-size: cover;
  width: .8rem;
  height: .8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(255,255,255,.9);
  /*z-index: 1;*/
}
.disc::before{
  content: '';
  position: absolute;
  top: .32rem;left: .32rem;
  width: .16rem;height: .16rem;
  color: inherit;
  border-radius: 50%;
  border:medium solid currentColor;
  z-index: 10;
}
.disc::after{
  content: '';
  position: absolute;
  top: .36rem;left: .38rem;
  width: 0;height: 0;
  color: inherit;
  border:.04rem solid transparent;
  border-left:.06rem solid currentColor;
  border-right: none;
  z-index: 10;
}
.disc.playing::before,
.disc.playing::after{
  border: none;
}



/* music-cover */

.music-cover {
  width: .5rem;
  /*overflow: hidden;*/
  /*z-index: -1;*/
  animation: rotating 10s linear 0s infinite;
  animation-play-state: paused;
}

.playing .music-cover {
  animation-play-state: running;
}

.music-cover::after {
  content: '';
  background: url(https://s3.music.126.net/m/s/img/disc_light-ip6.png?996fc8a2bc62e1ab3f51f135fc459577) no-repeat;
  background-size: cover;
  position: absolute;
  width: .8rem;
  height: .8rem;
  top:-.15rem;left:-.15rem;
  /*z-index: 10;*/
  /*background: red;*/
}
img {
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
  display: block;
  max-width: 100%;
}


/* disc 旋转 */

@keyframes rotating {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

/* meta 部分 */
.meta{
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column
}


/* 歌词样式 */

.lyric{
  flex:0 0 10em;
  overflow: hidden;
  width: .9rem;
  color: rgba(255,255,255,.7);
  position: relative;
  /*text-shadow: 0 1px 2px rgba(0, 0, 0, .6);*/
}

.lyric ul{
  display: flex;
  flex-flow: column;
  width: 100%;
  transition: transform .4s;
}

.lyric ul>li {
  display: flex;
  width: 100%;
  flex: 0 0 2em;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  transition: color .4s;
}
.lyric ul>li::after{
  content: '';
}
.lyric ul>li.current{
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}



/* 底部 button */
.footer{
  flex: 0 0 5em;
  font-size: .04rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border:medium solid #d43b32;
  color: #d43b32;
  border-radius: .01rem;
  height: .096rem;
  width: .4rem;
  cursor: pointer;
}
.btn.active{
  /*border:thin solid white;*/
  background: #d43b32;
  color: white;
  margin-left: .04rem;
}
